<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Feed</title>
    <link rel="stylesheet" href="/static/feed-styles.css">
</head>
<body>
    <header>
        <h1>Twitter Feed</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user">users</a></li>
                <li><a href="/post/tweets">tweets</a></li>
            </ul>
        </nav>
    </header>
    <div class="tweet-container">
        <div class="create-tweet" style="display: flex; align-items: center;">
            <div class="avatar"></div>
            <div class="content">
              <p>Name : {{user_details.display_name}}</p>
              <p>email : {{user_details.email}}</p>
            </div>
            <div>
                <button id="follow_{{user_details.uid}}" onclick="toggleFollow('{{user_details.uid}}')" >{{button}}</button>
            </div>
        </div>
    </div>
    <main id="tweet-container" class="tweet-container">
        {% for tweet in tweets %}
        <div   class="tweet-container">
            <div class="content">
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; justify-content: space-between;align-items: center;"> 
                        <div class="avatar"></div>
                        <span class="username">{{tweet.display_name}}</span>
                    </div>

                    <div class="user-info">
                        <span class="timestamp">{{ tweet.createdAt }}</span>
                    </div>
                </div>
                <div class="message">{{ tweet.tweet }}</div>
                {% if tweet.imageUrl != "" %}
                <div class="media"><img src="{{ tweet.imageUrl }}" alt="Image"></div>
                {% endif %}

                <div class="actions">
                    <span class="like-button">&#10084;</span>
                </div>
                {% if tweet.createdBy == uid %}
                <button  onclick="deleteTweet('{{tweet.id}}')">Delete</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}

       
    </main>
 
    <script src="/static/users-scripts.js"></script>

</body>
</html>
